# The environment in which the application is running (string)
ENV=dev
# Path to sqlite store (string)
STORE_PATH=./storage/sso.db
# Authentication service standart TTL (time.Duration)
AUTHENTICATION_TOKEN_TTL=1h
# gRPC server port (uint16)
GRPC_PORT=44844
# REST server port (uint16)
REST_PORT=8080
# Redis user (string)
REDIS_USER=
# Redis user's password (string)
REDIS_PASSWORD=
# Redis database connection (int)
REDIS_DB=0
# Redis server host (string)
REDIS_HOST=127.0.0.1
# Redis server port (uint16)
REDIS_PORT=6380
