# The environment in which the application is running (string)
ENV=dev
# Path to sqlite store (string)
STORE_PATH=./storage/sso.db
# Authentication service standart TTL (time.Duration)
AUTHENTICATION_TOKEN_TTL=1h
# gRPC server port (uint16)
GRPC_PORT=44844
# REST server port (uint16)
REST_PORT=8080
# Redis user (string)
REDIS_USER=
# Redis user's password (string)
REDIS_USER_PASSWORD=
# Redis database connection (int)
REDIS_DB=0
# Redis server host (string)
REDIS_HOST=localhost
# Redis server port (uint16)
REDIS_PORT=6380
# Dgraph user (string)
DGRAPH_USER=
# Dgraph user's password (string)
DGRAPH_USER_PASSWORD=
# Dgraph server host (string)
DGRAPH_GRPC_HOST=localhost
# Dgraph server port (uint16)
DGRAPH_GRPC_PORT=9080
# Vault address (string)
VAULT_ADDRESS=localhost:8200
# Vault token (string)
VAULT_TOKEN=
